*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
  padding: 0 400px;
 background-image:url('Background.jpg');
 background-size: cover;
 background-repeat: no-repeat;
}

.nav .logo{
    display: flex;
    justify-content: center;
}
.nav .logo img{
    width: 100px;
    padding: 20px;
    
}
.nav .links{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.links a:hover{
    font-size: 22px;
    color: red;
    transition: all 0.3s;
}

.travel-nav{
    
    margin-top: 100px ;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}

.travel-nav h3{
    font-size: 16px;
    font-weight: 50;
    color: rgb(141, 139, 139);

}

.main-heading{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.main-heading h1{
    font-size: 50px;
    width: 600px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.main-heading p{
    color: gray;
    text-align: center;
}

.main-heading img{
    width: 600px;

}

.main-heading p:nth-of-type(2) {
  text-align: center;
  color: rgb(175, 174, 174);;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 6px;
  line-height: 150%;
}

.information{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
}

.heading {
    font-size: 30px;
    margin-top: 20px;
    color: white;
    text-align: center;

}



.content {
      text-align: left;
  color: rgb(175, 174, 174);
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 6px;
  line-height: 150%;
  text-align: center;
}

.footer{
background-color: rgb(19, 19, 53);
padding: 0px 200px;
padding-bottom: 80px;
}
.footer-1{
    display: flex;
    justify-content: space-between;
}

.footer-1 img{
    width: 200px;
    padding: 20px;
    
}

.footer-content{
    display: flex;
    justify-content: space-around;
    gap: 35px;
    align-items: center;
    
}

.footer-content p{
    font-size: 16px;
    color: white;
}

.footer-content button{
    padding: 13px;
    background-color: rgb(221, 82, 82);
    color: white;
    border-radius: 8% ;
    border: none;
}

.footer-2{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.footer-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-info h3{
    color: white;
}
.footer-info p{
    color: white;
}